In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df1=pd.read_csv("Poem_classification - test_data.csv")
df2=pd.read_csv("Poem_classification - train_data.csv")

In [3]:
df1.shape, df2.shape

((150, 2), (841, 2))

In [4]:
df1.head()

   Genre                                               Poem
0  Music  A woman walks by the bench I’m sitting onwith ...
1  Music  Because I am a boy, the untouchability of beau...
2  Music  Because today we did not leave this world,We n...
3  Music  Big Bend has been here, been here. Shouldn’t i...
4  Music  I put shells there, along the lip of the road....

In [5]:
df1.sample(5)

         Genre                                               Poem
114  Affection  It was easy enough to bend them to my wish, it...
6        Music  I was afraid the past would catch up with me,w...
67   Affection  DEAR MISS: Notwithstanding the cloud of doubts...
115  Affection  It's all I have to bring today—This, and my he...
84   Affection  I am yours as the summer air at evening isPoss...

In [6]:
df1['Genre'].unique()

array(['Music', 'Death', 'Affection', 'Environment'], dtype=object)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Genre   150 non-null    object
 1   Poem    150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [8]:
df1.isnull().sum()

Genre    0
Poem     0
dtype: int64

In [9]:
df2.head()

   Genre                                               Poem
0  Music                                                NaN
1  Music                In the thick brushthey spend the...
2  Music     Storms are generous.                       ...
3  Music   —After Ana Mendieta Did you carry around the ...
4  Music   for Aja Sherrard at 20The portent may itself ...

In [10]:
df2.isnull().sum()

Genre    0
Poem     4
dtype: int64

In [11]:
df=df1.append(df2)

In [12]:
df.shape

(991, 2)

In [13]:
df.head()

   Genre                                               Poem
0  Music  A woman walks by the bench I’m sitting onwith ...
1  Music  Because I am a boy, the untouchability of beau...
2  Music  Because today we did not leave this world,We n...
3  Music  Big Bend has been here, been here. Shouldn’t i...
4  Music  I put shells there, along the lip of the road....

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 991 entries, 0 to 840
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Genre   991 non-null    object
 1   Poem    987 non-null    object
dtypes: object(2)
memory usage: 23.2+ KB

In [15]:
df.isnull().sum()

Genre    0
Poem     4
dtype: int64

In [16]:
df = df.dropna(axis=0)

In [17]:
df.isnull().sum()

Genre    0
Poem     0
dtype: int64

In [18]:
df.Genre.value_counts()

Environment    252
Music          250
Death          244
Affection      241
Name: Genre, dtype: int64

In [19]:
df = df.replace({'Environment':0,'Music':1,'Death':2,'Affection':3})

In [20]:
df

     Genre                                               Poem
0        1  A woman walks by the bench I’m sitting onwith ...
1        1  Because I am a boy, the untouchability of beau...
2        1  Because today we did not leave this world,We n...
3        1  Big Bend has been here, been here. Shouldn’t i...
4        1  I put shells there, along the lip of the road....
..     ...                                                ...
836      0  Why make so much of fragmentary blue In here a...
837      0  Woman, I wish I didn't know your name. What co...
838      0  Yonder to the kiosk, beside the creek, Paddle ...
839      0  You come to fetch me from my work to-night Whe...
840      0  You see them through water and glass, (both li...

[987 rows x 2 columns]

In [22]:
text=df["Poem"]
labels=df["Genre"]

In [24]:
text = np.array(text)
labels = np.array(labels)
text.shape, labels.shape

((987,), (987,))

In [25]:
training_text = text[0:901]
testing_text = text[901:]
training_labels = labels[0:901]
testing_labels = labels[901:]

In [27]:
tokenizer = Tokenizer(num_words=10000, oov_token="<OOV>")
tokenizer.fit_on_texts(training_text)

word_index = tokenizer.word_index

training_sequences = tokenizer.texts_to_sequences(training_text)
training_padded = pad_sequences(training_sequences, maxlen=200, padding='post', truncating='post')

testing_sequences = tokenizer.texts_to_sequences(testing_text)
testing_padded = pad_sequences(testing_sequences, maxlen=200, padding='post', truncating='post')

In [28]:
training_padded = np.array(training_padded)
training_labels = np.array(training_labels)
testing_padded = np.array(testing_padded)
testing_labels = np.array(testing_labels)

In [29]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Embedding(10000,16,input_length=200))
model.add(tf.keras.layers.GlobalAveragePooling1D())
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(50,activation='relu'))
model.add(tf.keras.layers.Dense(25,activation='relu'))
model.add(tf.keras.layers.Dense(4,activation='softmax'))
opt = tf.keras.optimizers.Adam()
model.compile(loss='sparse_categorical_crossentropy',optimizer=opt,metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 200, 16)           160000

 global_average_pooling1d (G  (None, 16)               0
 lobalAveragePooling1D)

 flatten (Flatten)           (None, 16)                0

 dense (Dense)               (None, 50)                850

 dense_1 (Dense)             (None, 25)                1275

 dense_2 (Dense)             (None, 4)                 104

=================================================================
Total params: 162,229
Trainable params: 162,229
Non-trainable params: 0
_________________________________________________________________

In [30]:
num_epochs = 100
history = model.fit(training_padded, training_labels, epochs=num_epochs, validation_data=(testing_padded, testing_labels), verbose=2)

Epoch 1/100
29/29 - 8s - loss: 1.3837 - accuracy: 0.2775 - val_loss: 1.4541 - val_accuracy: 0.0000e+00 - 8s/epoch - 285ms/step
Epoch 2/100
29/29 - 1s - loss: 1.3798 - accuracy: 0.2775 - val_loss: 1.5161 - val_accuracy: 0.0000e+00 - 680ms/epoch - 23ms/step
Epoch 3/100
29/29 - 1s - loss: 1.3766 - accuracy: 0.2775 - val_loss: 1.5717 - val_accuracy: 0.0000e+00 - 618ms/epoch - 21ms/step
Epoch 4/100
29/29 - 1s - loss: 1.3741 - accuracy: 0.2775 - val_loss: 1.5828 - val_accuracy: 0.0000e+00 - 563ms/epoch - 19ms/step
Epoch 5/100
29/29 - 1s - loss: 1.3716 - accuracy: 0.2775 - val_loss: 1.6356 - val_accuracy: 0.0000e+00 - 524ms/epoch - 18ms/step
Epoch 6/100
29/29 - 0s - loss: 1.3682 - accuracy: 0.3119 - val_loss: 1.6783 - val_accuracy: 0.0000e+00 - 361ms/epoch - 12ms/step
Epoch 7/100
29/29 - 0s - loss: 1.3659 - accuracy: 0.2786 - val_loss: 1.6886 - val_accuracy: 0.0000e+00 - 492ms/epoch - 17ms/step
Epoch 8/100
29/29 - 1s - loss: 1.3590 - accuracy: 0.3274 - val_loss: 1.6709 - val_accuracy: 0.0000e+00 - 503ms/epoch - 17ms/step
Epoch 9/100
29/29 - 0s - loss: 1.3470 - accuracy: 0.2963 - val_loss: 1.6857 - val_accuracy: 0.0000e+00 - 450ms/epoch - 16ms/step
Epoch 10/100
29/29 - 0s - loss: 1.3234 - accuracy: 0.4084 - val_loss: 1.6736 - val_accuracy: 0.0000e+00 - 389ms/epoch - 13ms/step
Epoch 11/100
29/29 - 0s - loss: 1.2666 - accuracy: 0.4661 - val_loss: 1.6481 - val_accuracy: 0.0000e+00 - 494ms/epoch - 17ms/step
Epoch 12/100
29/29 - 1s - loss: 1.1694 - accuracy: 0.5028 - val_loss: 1.6756 - val_accuracy: 0.0000e+00 - 609ms/epoch - 21ms/step
Epoch 13/100
29/29 - 1s - loss: 1.0530 - accuracy: 0.5161 - val_loss: 1.6136 - val_accuracy: 0.0000e+00 - 566ms/epoch - 20ms/step
Epoch 14/100
29/29 - 0s - loss: 0.9551 - accuracy: 0.5272 - val_loss: 1.5323 - val_accuracy: 0.0000e+00 - 363ms/epoch - 13ms/step
Epoch 15/100
29/29 - 0s - loss: 0.8910 - accuracy: 0.5683 - val_loss: 1.6687 - val_accuracy: 0.0000e+00 - 343ms/epoch - 12ms/step
Epoch 16/100
29/29 - 0s - loss: 0.8417 - accuracy: 0.5594 - val_loss: 1.8703 - val_accuracy: 0.0000e+00 - 349ms/epoch - 12ms/step
Epoch 17/100
29/29 - 0s - loss: 0.8077 - accuracy: 0.5916 - val_loss: 1.8653 - val_accuracy: 0.0000e+00 - 382ms/epoch - 13ms/step
Epoch 18/100
29/29 - 0s - loss: 0.7854 - accuracy: 0.6382 - val_loss: 1.6165 - val_accuracy: 0.0000e+00 - 438ms/epoch - 15ms/step
Epoch 19/100
29/29 - 1s - loss: 0.7496 - accuracy: 0.6693 - val_loss: 1.9735 - val_accuracy: 0.0000e+00 - 607ms/epoch - 21ms/step
Epoch 20/100
29/29 - 1s - loss: 0.7284 - accuracy: 0.6693 - val_loss: 1.9902 - val_accuracy: 0.0000e+00 - 546ms/epoch - 19ms/step
Epoch 21/100
29/29 - 1s - loss: 0.6996 - accuracy: 0.6992 - val_loss: 1.5926 - val_accuracy: 0.0000e+00 - 518ms/epoch - 18ms/step
Epoch 22/100
29/29 - 0s - loss: 0.6716 - accuracy: 0.7148 - val_loss: 1.7655 - val_accuracy: 0.0000e+00 - 411ms/epoch - 14ms/step
Epoch 23/100
29/29 - 0s - loss: 0.6415 - accuracy: 0.7159 - val_loss: 1.8439 - val_accuracy: 0.0000e+00 - 399ms/epoch - 14ms/step
Epoch 24/100
29/29 - 0s - loss: 0.6162 - accuracy: 0.7225 - val_loss: 2.0453 - val_accuracy: 0.0000e+00 - 419ms/epoch - 14ms/step
Epoch 25/100
29/29 - 0s - loss: 0.6040 - accuracy: 0.7248 - val_loss: 1.6546 - val_accuracy: 0.0000e+00 - 376ms/epoch - 13ms/step
Epoch 26/100
29/29 - 0s - loss: 0.5684 - accuracy: 0.7192 - val_loss: 1.7927 - val_accuracy: 0.1860 - 344ms/epoch - 12ms/step
Epoch 27/100
29/29 - 0s - loss: 0.5407 - accuracy: 0.7436 - val_loss: 1.3910 - val_accuracy: 0.1744 - 359ms/epoch - 12ms/step
Epoch 28/100
29/29 - 1s - loss: 0.5353 - accuracy: 0.7636 - val_loss: 2.2017 - val_accuracy: 0.1512 - 565ms/epoch - 19ms/step
Epoch 29/100
29/29 - 1s - loss: 0.4982 - accuracy: 0.8346 - val_loss: 1.8392 - val_accuracy: 0.2093 - 543ms/epoch - 19ms/step
Epoch 30/100
29/29 - 1s - loss: 0.4705 - accuracy: 0.7936 - val_loss: 1.4408 - val_accuracy: 0.3721 - 547ms/epoch - 19ms/step
Epoch 31/100
29/29 - 1s - loss: 0.4474 - accuracy: 0.8435 - val_loss: 1.9166 - val_accuracy: 0.1744 - 738ms/epoch - 25ms/step
Epoch 32/100
29/29 - 1s - loss: 0.4129 - accuracy: 0.8657 - val_loss: 1.5714 - val_accuracy: 0.3721 - 510ms/epoch - 18ms/step
Epoch 33/100
29/29 - 0s - loss: 0.3977 - accuracy: 0.8879 - val_loss: 1.4026 - val_accuracy: 0.4651 - 500ms/epoch - 17ms/step
Epoch 34/100
29/29 - 1s - loss: 0.3752 - accuracy: 0.8790 - val_loss: 1.8513 - val_accuracy: 0.2674 - 518ms/epoch - 18ms/step
Epoch 35/100
29/29 - 1s - loss: 0.3504 - accuracy: 0.8801 - val_loss: 1.5629 - val_accuracy: 0.4070 - 833ms/epoch - 29ms/step
Epoch 36/100
29/29 - 1s - loss: 0.3320 - accuracy: 0.8935 - val_loss: 1.9099 - val_accuracy: 0.2907 - 629ms/epoch - 22ms/step
Epoch 37/100
29/29 - 1s - loss: 0.3236 - accuracy: 0.8912 - val_loss: 1.4765 - val_accuracy: 0.4651 - 537ms/epoch - 19ms/step
Epoch 38/100
29/29 - 1s - loss: 0.3070 - accuracy: 0.8946 - val_loss: 1.6403 - val_accuracy: 0.4419 - 519ms/epoch - 18ms/step
Epoch 39/100
29/29 - 0s - loss: 0.2943 - accuracy: 0.8912 - val_loss: 2.1054 - val_accuracy: 0.2326 - 436ms/epoch - 15ms/step
Epoch 40/100
29/29 - 0s - loss: 0.2882 - accuracy: 0.8990 - val_loss: 1.4690 - val_accuracy: 0.5000 - 465ms/epoch - 16ms/step
Epoch 41/100
29/29 - 0s - loss: 0.2827 - accuracy: 0.9057 - val_loss: 1.9232 - val_accuracy: 0.3372 - 453ms/epoch - 16ms/step
Epoch 42/100
29/29 - 0s - loss: 0.2710 - accuracy: 0.9046 - val_loss: 1.5234 - val_accuracy: 0.5000 - 449ms/epoch - 15ms/step
Epoch 43/100
29/29 - 1s - loss: 0.2546 - accuracy: 0.8979 - val_loss: 1.6874 - val_accuracy: 0.4419 - 853ms/epoch - 29ms/step
Epoch 44/100
29/29 - 0s - loss: 0.2597 - accuracy: 0.9012 - val_loss: 1.8373 - val_accuracy: 0.3721 - 424ms/epoch - 15ms/step
Epoch 45/100
29/29 - 1s - loss: 0.2537 - accuracy: 0.8935 - val_loss: 1.5417 - val_accuracy: 0.4419 - 601ms/epoch - 21ms/step
Epoch 46/100
29/29 - 0s - loss: 0.2559 - accuracy: 0.8879 - val_loss: 2.2589 - val_accuracy: 0.2674 - 438ms/epoch - 15ms/step
Epoch 47/100
29/29 - 1s - loss: 0.2295 - accuracy: 0.9057 - val_loss: 1.7766 - val_accuracy: 0.4419 - 584ms/epoch - 20ms/step
Epoch 48/100
29/29 - 1s - loss: 0.2261 - accuracy: 0.8990 - val_loss: 1.9532 - val_accuracy: 0.3721 - 650ms/epoch - 22ms/step
Epoch 49/100
29/29 - 0s - loss: 0.2390 - accuracy: 0.9012 - val_loss: 2.0333 - val_accuracy: 0.3488 - 456ms/epoch - 16ms/step
Epoch 50/100
29/29 - 1s - loss: 0.2275 - accuracy: 0.9012 - val_loss: 1.6584 - val_accuracy: 0.5000 - 620ms/epoch - 21ms/step
Epoch 51/100
29/29 - 1s - loss: 0.2272 - accuracy: 0.9046 - val_loss: 1.8652 - val_accuracy: 0.3488 - 704ms/epoch - 24ms/step
Epoch 52/100
29/29 - 1s - loss: 0.2151 - accuracy: 0.9046 - val_loss: 1.8199 - val_accuracy: 0.4186 - 510ms/epoch - 18ms/step
Epoch 53/100
29/29 - 0s - loss: 0.2046 - accuracy: 0.9034 - val_loss: 1.8825 - val_accuracy: 0.3605 - 483ms/epoch - 17ms/step
Epoch 54/100
29/29 - 1s - loss: 0.1982 - accuracy: 0.9012 - val_loss: 1.8370 - val_accuracy: 0.4186 - 700ms/epoch - 24ms/step
Epoch 55/100
29/29 - 1s - loss: 0.1978 - accuracy: 0.8946 - val_loss: 1.9191 - val_accuracy: 0.3837 - 592ms/epoch - 20ms/step
Epoch 56/100
29/29 - 1s - loss: 0.2025 - accuracy: 0.9034 - val_loss: 2.2933 - val_accuracy: 0.3256 - 564ms/epoch - 19ms/step
Epoch 57/100
29/29 - 1s - loss: 0.2024 - accuracy: 0.8957 - val_loss: 2.1192 - val_accuracy: 0.3372 - 571ms/epoch - 20ms/step
Epoch 58/100
29/29 - 1s - loss: 0.1959 - accuracy: 0.8946 - val_loss: 1.6575 - val_accuracy: 0.4302 - 594ms/epoch - 20ms/step
Epoch 59/100
29/29 - 1s - loss: 0.1971 - accuracy: 0.9001 - val_loss: 2.2117 - val_accuracy: 0.3023 - 535ms/epoch - 18ms/step
Epoch 60/100
29/29 - 1s - loss: 0.1861 - accuracy: 0.9101 - val_loss: 1.8798 - val_accuracy: 0.4070 - 521ms/epoch - 18ms/step
Epoch 61/100
29/29 - 0s - loss: 0.1852 - accuracy: 0.9134 - val_loss: 1.7399 - val_accuracy: 0.4186 - 412ms/epoch - 14ms/step
Epoch 62/100
29/29 - 0s - loss: 0.1852 - accuracy: 0.9079 - val_loss: 2.4124 - val_accuracy: 0.3023 - 371ms/epoch - 13ms/step
Epoch 63/100
29/29 - 0s - loss: 0.2132 - accuracy: 0.9046 - val_loss: 2.1049 - val_accuracy: 0.3372 - 381ms/epoch - 13ms/step
Epoch 64/100
29/29 - 0s - loss: 0.1827 - accuracy: 0.8935 - val_loss: 1.7598 - val_accuracy: 0.4070 - 392ms/epoch - 14ms/step
Epoch 65/100
29/29 - 0s - loss: 0.2103 - accuracy: 0.9034 - val_loss: 1.8672 - val_accuracy: 0.4186 - 392ms/epoch - 14ms/step

Epoch 66/100
29/29 - 0s - loss: 0.1890 - accuracy: 0.9046 - val_loss: 1.7559 - val_accuracy: 0.4186 - 487ms/epoch - 17ms/step
Epoch 67/100
29/29 - 0s - loss: 0.1866 - accuracy: 0.9123 - val_loss: 2.3021 - val_accuracy: 0.3140 - 354ms/epoch - 12ms/step
Epoch 68/100
29/29 - 0s - loss: 0.1948 - accuracy: 0.8935 - val_loss: 2.0666 - val_accuracy: 0.3837 - 369ms/epoch - 13ms/step
Epoch 69/100
29/29 - 0s - loss: 0.1815 - accuracy: 0.9079 - val_loss: 1.8964 - val_accuracy: 0.4070 - 378ms/epoch - 13ms/step
Epoch 70/100
29/29 - 0s - loss: 0.1842 - accuracy: 0.9023 - val_loss: 2.4153 - val_accuracy: 0.2791 - 450ms/epoch - 16ms/step
Epoch 71/100
29/29 - 0s - loss: 0.1793 - accuracy: 0.9068 - val_loss: 1.9178 - val_accuracy: 0.4070 - 399ms/epoch - 14ms/step
Epoch 72/100
29/29 - 0s - loss: 0.1816 - accuracy: 0.9145 - val_loss: 2.1198 - val_accuracy: 0.3605 - 370ms/epoch - 13ms/step
Epoch 73/100
29/29 - 0s - loss: 0.1790 - accuracy: 0.9201 - val_loss: 1.8230 - val_accuracy: 0.3837 - 363ms/epoch - 13ms/step
Epoch 74/100
29/29 - 0s - loss: 0.1719 - accuracy: 0.9234 - val_loss: 2.4759 - val_accuracy: 0.2558 - 394ms/epoch - 14ms/step
Epoch 75/100
29/29 - 0s - loss: 0.1667 - accuracy: 0.9046 - val_loss: 2.0311 - val_accuracy: 0.4186 - 470ms/epoch - 16ms/step
Epoch 76/100
29/29 - 0s - loss: 0.1676 - accuracy: 0.9112 - val_loss: 2.2824 - val_accuracy: 0.3023 - 430ms/epoch - 15ms/step
Epoch 77/100
29/29 - 0s - loss: 0.1699 - accuracy: 0.9112 - val_loss: 2.1172 - val_accuracy: 0.3488 - 369ms/epoch - 13ms/step
Epoch 78/100
29/29 - 0s - loss: 0.1724 - accuracy: 0.9012 - val_loss: 2.6353 - val_accuracy: 0.2326 - 347ms/epoch - 12ms/step
Epoch 79/100
29/29 - 0s - loss: 0.1784 - accuracy: 0.9156 - val_loss: 2.2543 - val_accuracy: 0.3372 - 355ms/epoch - 12ms/step
Epoch 80/100
29/29 - 0s - loss: 0.1619 - accuracy: 0.9068 - val_loss: 2.5234 - val_accuracy: 0.2558 - 350ms/epoch - 12ms/step
Epoch 81/100
29/29 - 0s - loss: 0.1575 - accuracy: 0.9023 - val_loss: 2.3793 - val_accuracy: 0.3256 - 377ms/epoch - 13ms/step
Epoch 82/100
29/29 - 0s - loss: 0.1561 - accuracy: 0.9023 - val_loss: 2.3045 - val_accuracy: 0.3488 - 408ms/epoch - 14ms/step
Epoch 83/100
29/29 - 0s - loss: 0.1570 - accuracy: 0.9134 - val_loss: 2.1795 - val_accuracy: 0.3721 - 364ms/epoch - 13ms/step
Epoch 84/100
29/29 - 0s - loss: 0.1615 - accuracy: 0.9001 - val_loss: 2.3410 - val_accuracy: 0.3256 - 381ms/epoch - 13ms/step
Epoch 85/100
29/29 - 0s - loss: 0.1619 - accuracy: 0.9134 - val_loss: 2.5195 - val_accuracy: 0.3023 - 378ms/epoch - 13ms/step
Epoch 86/100
29/29 - 0s - loss: 0.1557 - accuracy: 0.9201 - val_loss: 2.7033 - val_accuracy: 0.2326 - 436ms/epoch - 15ms/step
Epoch 87/100
29/29 - 0s - loss: 0.1586 - accuracy: 0.9034 - val_loss: 2.3685 - val_accuracy: 0.3256 - 368ms/epoch - 13ms/step
Epoch 88/100
29/29 - 0s - loss: 0.1544 - accuracy: 0.9079 - val_loss: 2.2544 - val_accuracy: 0.3488 - 386ms/epoch - 13ms/step
Epoch 89/100
29/29 - 0s - loss: 0.1596 - accuracy: 0.9134 - val_loss: 2.4061 - val_accuracy: 0.3140 - 378ms/epoch - 13ms/step
Epoch 90/100
29/29 - 0s - loss: 0.1550 - accuracy: 0.9112 - val_loss: 2.2433 - val_accuracy: 0.3953 - 367ms/epoch - 13ms/step
Epoch 91/100
29/29 - 0s - loss: 0.1548 - accuracy: 0.9190 - val_loss: 2.2197 - val_accuracy: 0.3372 - 383ms/epoch - 13ms/step
Epoch 92/100
29/29 - 0s - loss: 0.1898 - accuracy: 0.9101 - val_loss: 2.4300 - val_accuracy: 0.2907 - 377ms/epoch - 13ms/step
Epoch 93/100
29/29 - 0s - loss: 0.1542 - accuracy: 0.9079 - val_loss: 2.4044 - val_accuracy: 0.3256 - 356ms/epoch - 12ms/step
Epoch 94/100
29/29 - 0s - loss: 0.1493 - accuracy: 0.9134 - val_loss: 2.3820 - val_accuracy: 0.3023 - 367ms/epoch - 13ms/step
Epoch 95/100
29/29 - 0s - loss: 0.1523 - accuracy: 0.9079 - val_loss: 2.8939 - val_accuracy: 0.2093 - 388ms/epoch - 13ms/step
Epoch 96/100
29/29 - 0s - loss: 0.1505 - accuracy: 0.9156 - val_loss: 2.1408 - val_accuracy: 0.3256 - 406ms/epoch - 14ms/step
Epoch 97/100
29/29 - 0s - loss: 0.1530 - accuracy: 0.9201 - val_loss: 2.0137 - val_accuracy: 0.4302 - 388ms/epoch - 13ms/step
Epoch 98/100
29/29 - 0s - loss: 0.1696 - accuracy: 0.9190 - val_loss: 2.2085 - val_accuracy: 0.3256 - 368ms/epoch - 13ms/step
Epoch 99/100
29/29 - 0s - loss: 0.1476 - accuracy: 0.9112 - val_loss: 2.3258 - val_accuracy: 0.3372 - 363ms/epoch - 13ms/step
Epoch 100/100
29/29 - 0s - loss: 0.1438 - accuracy: 0.9179 - val_loss: 2.4222 - val_accuracy: 0.3372 - 428ms/epoch - 15ms/step